.pagination{
	font-weight: bold
	margin: auto;
}

a:link, a:visited {
	color:black;
	padding: 5px;	
	text-decoration: none;
}
	
strong {
	color: orange;
}

.direction{
	color:gray;
	padding: 10px;
}
	